.input-field {
    border-bottom: #20639c;
    padding-bottom: 30px;
}

html {
    background: #3195b8;
    color: #20639c;
    background-image: url(Cool-Background.jpg);
}

h4#text {
    color: black;
}

strong {
    border-bottom: #20639c;
}

h2#title {
    border-bottom: #20639c;
    padding-bottom: 10px;
}

h2,
h3 {
    color: #20639c;
}

h5 {
    font-size: large;
}

body {
    background-color: #3195b8;
}

img#match-img {
    width: 150px;
}

body {
    background-color: #3195b8;
}

.jumbotron {
    background-color: #3195b8;
}

#btn {
    background-color: #3195b8;
}

h4 {
    color: #20639c;
}

#h1 {
    color: #20639c;
}
